<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  
	   <parameter name="Email" value="sam@gmail.com"></parameter>
	  <parameter name="Password" value="12345678"></parameter>
	  
    <classes>
      <class name="org.testng.Selecting"/>
      <class name="org.testng.Selecting2"/>
      <class name="org.testng.Login"/>
      <class name="org.testng.Selecting3"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
